*{
    padding:0px;
    margin:0px;
    
    
    
  }
  .navbar-brand {
     position: relative;
     
  }
  nav .navbar-header a{
    font-family:'Raleway',sans-serif;
    letter-spacing:1px;
  }
  nav .navbar-header a,ul li a{
    color:#fff;
    
  }
  nav .navbar-header button .fa{
    color:#fff;
    border: solid #fff;
    ;
    padding:4px 10px;
    font-size:1.5em;
    position:absolute;
    top:-0.5px;
    left:-30px;
  }
  
  .glyphicon-search{
    color:#000000;
  }
  
  
  form{
    position:relative;
    top:10px;
  }
  
  .menu{
    /* border-bottom:1px solid rgba(0,0,0,0.1); */
  }
  section{
    position:relative;
    top:4.5em;
  }
  section .container-fluid .thumbnail .caption .buttons{
    margin:20px;
    
  }
  
  section .desc h5 .glyphicon{
    color:#5cb85c;
  }
  section .desc .breadcrumb{
    padding-left:0;
  }
  
  section .desc button:hover{
    background-color:#ffffff;
    /* border:1px solid #2874f0; */
    color:#2874f0;
  }
  .text-box {
    width: 900px;
    height: 730px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    position: relative;
    margin: 1200px 1340px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
.text-box h2 {
    font-size: 60px;
    text-align: center;
}
p {
    margin: 0;
    color: #333;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 